
@{
    Layout = null;
}

<!-- Admin Ana Bileşenleri -->



<!DOCTYPE html>
<html lang="en">
 <!-- Header Start -->
@await Component.InvokeAsync("_AdminHeaderComponentPartial")
   <!-- Header End -->
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        @await Component.InvokeAsync("_AdminSpinnerComponentPartial")
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        @await Component.InvokeAsync("_AdminSidebarComponentPartial")
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            @await Component.InvokeAsync("_AdminNavbarComponentPartial")
            <!-- Navbar End -->
            <!-- Blank Start -->
            @RenderBody()
            <!-- Blank End -->
            <!-- Footer Start -->
            @await Component.InvokeAsync("_AdminFooterComponentPartial")
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <!-- Template Script Javascript -->
    @await Component.InvokeAsync("_AdminScriptComponentPartial")
</body>

</html>

