@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Admin/Index.cshtml";
}


<!-- CreateProduct --></>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Yeni Kategori Ekleme Sayfası</h6>
                <form method="post">
                    <label>İlan Başlığı</label>
                    <input type="text" asp-for="ProductTitle" class="form-control" />
                    <br />
                    <label>İlan Fiyatı</label>
                    <input type="text" asp-for="ProductPrice" class="form-control" />
                    <br />
                    <label>Şehir</label>
                    <input type="text" asp-for="ProductCity" class="form-control" />
                    <br />
                    <label>İlçe</label>
                    <input type="text" asp-for="ProductDistrict" class="form-control" />
                    <br />
                    <label>Adres</label>
                    <input type="text" asp-for="ProductAddress" class="form-control" />
                    <br />
                    <label>Kapak Fotoğrafı</label>
                    <input type="text" asp-for="ProductTitle" class="form-control" />
                    <br />
                    <label>Kategori</label>
                    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.v, new {@class="form-control"})
                    <br />
                    <button class="btn btn-primary">İlanı Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>